*{
    margin:0;
    padding: 0;
  }
  
  html{
    scroll-behavior: smooth;
  }

  .card-container{
    background: #fff;
    border-radius: 25px;
    padding: 25px;
    max-width: 450px;
    display: grid;
  }